/******************************************************************
Site Name: 
Author: 

Stylesheet: Desktop Stylsheet

This is the desktop size. It's larger than an iPad so it will only
be seen on the Desktop. 

******************************************************************/

.wrap {
	//max-width: 1200px;
  padding-left:0;
  padding-right:0;
}



.hero{
  //needs to be position relative in order to correctly position the figcaption

  figcaption{
    
    @include rem('font-size',77px);
    line-height: 90px;

        &.why{
      
      & img{
        max-width: 100px;
        padding-top: 25px;
        
      }
    }
  }

}

#inner-footer{
  padding:0;
}

.contactinfo{
  @include rem('font-size',36px);
}

.wholesaleinquiries{
  .contactinfo{
    @include rem('font-size',36px);
  }
}


.footer{

  .contact-info{
    margin-left: -30px;
margin-right: 15px;
  }
.addy{
  margin-left: -20px;
  margin-right: 40px;
}
}

.seattle p:last-child {
padding-bottom: 25em;
}
