/******************************************************************
Site Name:
Author:

Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/


/*********************
GENERAL STYLES
*********************/

/*********************
LAYOUT & GRID STYLES
*********************/

.wrap {
	max-width: 960px;
	padding-left:0;
	padding-right:0;
}

/*********************
HEADER STYLES
*********************/

.header {
	text-align: left;
	#logo {
		float: left;
		image-rendering: auto;
	}
}

.hero{
	//needs to be position relative in order to correctly position the figcaption
	img {
		@include fill-parent;
	}

	&.homepage{
		img{
			@include fill-parent;
			max-height: inherit;
		}
		
		& figcaption{
			//homepage
			
		}
	}

	figcaption{
		
		top:30%;
		@include rem('font-size',60px);
		line-height: 70px;

		&.why{
			
			& img{
				
			}
		}
	}

	&.ceiling{	

		figcaption{
			//ceiling
			
		}

	}

	&.specialpage{
		max-height:450px;
	}
}

.page-id-10,.page-id-16{
	.hero {
		img {
			@include fill-parent;
			max-height: initial;
		}
	}

	figcaption{
		top: 40% !important;
	}

	.ceiling{
		figcaption{
			top: 45% !important;
		}
	}
}

.article-header .wrap{
	padding: 0 15px;
}

.seattle p:last-child {
padding-bottom: 16em;
}

h2{
	@include rem('font-size',34px);
}

.intro{
	@include rem('font-size',30px);
}

/*********************
NAVIGATION STYLES
*********************/

nav{
	&#navigation{

		//this is the main nav menu
		#navtoggle{
			display: none;
		}

		.nav {
			@include rem('font-size',14px);
			float: right;
			-webkit-margin-after: 0;
			-webkit-margin-before: 0;
			visibility: visible;
			opacity: 1;
			position: inherit;
			width: inherit;
			background-color: transparent;


			li {
				float:left;

				a {
					//links
					/*
					you can use hover styles here even though this size
					has the possibility of being a mobile device.
					*/
					color:$lightgray;
					&:hover, &:focus {
						color:$black;
					}
				}

			} /* end .menu ul li */

			/* highlight current page */
			li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a { color:$black; 
					&:hover{
						color:$black;
						}}
			}  /* end current highlighters */

		} /* end .nav */
	}
}


.page-id-24,.page-id-10,.page-id-16{
	nav{
	&#navigation{
	.nav{
		li{
			a{
				color:$white;
					&:hover, &:focus {
						color:$lightgray;}
			}
		}

		li.current-menu-item,
			li.current_page_item,
			li.current-page-ancestor {
				a { color:$white; 
					&:hover{
						color:$lightgray;
						}
					}
					}
	}
	}
}
}

#content{
	margin-top: 1.5em;

}

#inner-content{
	margin-top: 2em;
}

/* Product*/

.product{
	@include rem('padding',30px 0 30px 0);
}
.product-header, .product-content, .product-footer{
	padding:0 !important;
}

.paddedspec{
	padding-top:15px;
}

//stickem css
.stickem-container {
}

.stickem{
	position: relative;
	text-align: left;
	border-top:1px solid #e6e6e6;
	& a{
		color:$black;
		text-decoration:none;
	}
}

.content{
		float: right;

}

.stickit {
    position: fixed;
    top: -1px;
}

.stickit-end {
    bottom: 40px;
    position: absolute;
    left: 0;
}

#categories{
	display:inline-block;


	ul{
		text-align:left;
		
		li{
		
			&.product_category{
				//This targets the header
				background-color: transparent;
				padding-top: 0;
				padding-bottom: 0;
				font-size:0px;
		
				ul{
					//This is the menu
					visibility: visible;
					opacity: 1;
		
					&.shown{
					}

					li {
						@include rem('font-size',14px);
						padding-bottom: 7px;
						a {
							width: auto;
							padding: 0;
							&:hover, &:focus {
							}
						}

						&.cat-item-4{
						}

						&.current-cat a{
							background-color: transparent;
						}
					}
				}
			}
		}
	}
}

.sidebar-links{
	display:block;
		color:$black;
	text-align:left;

	.etsy.button{
			margin: 10px 0;
	}

	.map-icon{
		display:block;
	}

	a{
		text-decoration: none;
		&:active,&:hover{
			color:$black;

		}
		&:visited{
			color:$black;
		}
	}
}


/*********************
SIDEBARS & ASIDES
*********************/

.sidebar {
}

	.widget {
		padding: 30px 0;
		

		ul {
			li {
				border-bottom: none;
				padding: 0;
				&:first-child {}
				&:last-child {}
				a {}
				/* deep nesting */

				ul {
					//margin-top: 0.75em;
					//padding-left: 1em;
				}
			}
		}
	}


/*********************
FOOTER STYLES
*********************/

/*
you'll probably need to do quite a bit
of overriding here if you styled them for
mobile. Make sure to double check these!
*/
.footer-links {
	ul {
		li {
			a {
				&:hover {}
			}
			/*
			be careful with the depth of your menus.
			it's very rare to have multi-depth menus in
			the footer.
			*/
			ul {}
		}
	}
} /* end .footer-links */

.footer{
	@include rem('font-size',13px);
}

.addy{
	margin-left: -20px;
	margin-right: 40px;
}



.row{

}


.flexslider{
padding: 0 !important;
}

#main{
	padding:0;
}

.manifesto{
	@include rem('font-size',28px);
	line-height:50px !important;
	padding-bottom:0;
}


#inner-footer{
	padding: 0;
	@include rem('font-size',17px);
}


.sidebarbody{
	@include rem('font-size',16px);
	border:0;
}

.sidebarlink{
	@include rem('font-size',16px);
	display:inline-block;
}

.wholesalelink{
	border-top:1px solid #e6e6e6;
	margin-top:15px;
	padding-top:15px;
}


.bigquote{
@include rem('font-size',48px);
	line-height:57px;
		padding:75px 0;
		p{
			max-width: 960px;
display: block;
margin: 0 auto;
		}

}

#navtoggle{
	display:none;
}

.notice{
	float:right;
}

.contact{
border:0;
}

.contactinfo{
	@include rem('font-size',36px);
}

.contact.general{
	border-right:1px solid #e6e6e6;
}

.contact.wholesaleinquiries{
	border-top:1px solid #e6e6e6;
	border-bottom:1px solid #e6e6e6;
}

.wholesaleinquiries{
	.contactinfo{
		@include rem('font-size',36px);
	}
}

.learnmore{
	display:inline-block;
}

.terms{
	border-top:1px solid #e6e6e6;
	padding-top:25px;
}


.six.columns.last img:nth-child(1) { 
		padding-top:0;}

fieldset{
	li{
		padding-top: 5px;
	}
}

.page-id-10{
	section, article{
		&.eight{
			padding:40px 0;
		}
		&.sidebarbody{
			padding:40px 0;
		}
	}
}
