body{
	font-family:$serif;
	color: $base;
	@include rem('font-size',18px);
	@include rem('line-height:',28px);
}


// Light gray text for sidebar body content

.sidebarbody{
	color:#808080;
	@include rem('font-size',18px);
	@include rem('line-height:',25px);
	padding-top:30px;
	& p{
		margin:0;
	}
	& a{
		display: block;
		padding-bottom: 30px;
		color:black;
		text-decoration:none;
	}
}

// Metadata, Captions, Form Text, Categories

.meta{
	font-style: italic;
	@include rem('font-size',16px);
	@include rem('line-height:',25px);
	a{
		color:$base;
	}
	&.categories{
	a{
		color:$lightgray;
	}
	}
}

// Intro Paragraph




.showcasetitle{
	@include rem('font-size',30px);
}

.quote{
	@include rem('font-size',48px);
	font-style: italic;
}

// Footer Body + Titles

.footer{
	color:$lightgray;
	background-color: #1a1a1a;
	a{
		text-decoration: none;
		color:$lightgray;
		&:hover{
			color:$white;
		}
	}
	h3{
		color:$white;
	}
}

/*
use the best ampersand
http://simplebits.com/notebook/2008/08/14/ampersands-2/
*/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

address{
	font-style:normal;
}

.together{
	text-transform:lowercase;
	font-family:$serif;
	font-weight:400;
	font-style:italic;
	display:block;
	clear:both;
	letter-spacing: 0;

}