body{
	font-family:"garamond-premier-pro", serif;
	color: $base;
	@include rem('font-size',18px);
	@include rem('line-height:',28px);
}

.showcasetitle{
	@include rem('font-size',36px);
}

.smallheadline{
	font-family: "Montserrat", sans-serif;
	color:$base;
	@include rem('font-size',14px);
	text-transform: uppercase;
	letter-spacing: 1px;
}

.quote{
	@include rem('font-size',48px);
	font-style: italic;
}

footer, #sidebar1{
	color:$lightgray;
	@include rem('font-size',17px);
	background-color: #1a1a1a;
	a{
		text-decoration: none;
		color:$lightgray;
		&:hover{
			color:$white;
		}
	}
	.smallheadline{
		color:$white;
	}
}